.MuiButton-root.MuiButton-contained.fe-material-button__danger:not(.Mui-disabled) {
  color: var(--color-white);
  background-color: var(--color-red-7);

  &:hover {
    background-color: var(--color-red-8);
  }
}
