.fe-material-dialog {
  .fe-dialog__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: calc(100% + 4rem);
    margin: 2rem -2rem 0;
    padding: 1.5rem 2rem;
    background: transparent;
  }
}
