@import '../../styles/mixin.scss';

.fe-button {
  position: relative;
  background: var(--color-gray-0);
  height: var(--element-height);
  cursor: pointer;
  font-family: var(--element-font-family);
  font-size: var(--font-size-body);
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 var(--element-padding);
  vertical-align: middle;
  border-radius: var(--element-border-radius);
  box-shadow: none;
  border: 1px solid var(--element-border-color);
  background-color: var(--color-white);
  text-decoration: none;
  transition: all 0.1s ease-out;
  outline: none;
  overflow: hidden;
  color: var(--color-gray-8);

  @include with-clickable;
  @include with-theme;
  @include with-size;

  &-full-width {
    width: 100%;
  }

  &-loader {
    color: transparent !important;
    text-shadow: none !important;

    .fe-loader {
      position: absolute;
      width: var(--element-height-sm);
      height: var(--element-height-sm);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      visibility: visible;
    }

    & > *:not(.fe-loader) {
      visibility: hidden;
    }
  }

  & > svg {
    padding: 0 var(--element-padding) / 2;
    vertical-align: sub;
    width: 1rem;
    height: 1rem;
    box-sizing: initial;

    &:first-child {
      padding: 0 var(--element-padding) 0 0;
    }

    &:last-child {
      padding: 0 0 0 var(--element-padding);
    }

    &:first-child:last-child {
      padding: 0;
    }
  }
}
