.fe-button {
  position: relative;
  box-sizing: border-box;
  background: var(--color-gray-0);
  height: var(--element-height);
  display: inline-block;
  cursor: pointer;
  font-family: var(--element-font-family);
  font-size: var(--font-size-body);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 0 var(--element-padding);
  vertical-align: top;
  border-radius: var(--element-border-radius);
  box-shadow: var(--shadow-1);
  border: solid 1px var(--element-border-color);
  background-color: var(--color-white);
  text-decoration: none;
  transition: background-color 0.2s ease-out;
  outline: none !important;
  overflow: hidden;
  color: var(--color-gray-8);

  > svg {
    padding: 0 var(--element-padding) / 2;
    vertical-align: sub;
    width: 1rem;
    height: 1rem;
    box-sizing: initial;

    &:first-child {
      padding: 0 var(--element-padding) 0 0;
    }

    &:last-child {
      padding: 0 0 0 var(--element-padding);
    }

    &:first-child:last-child {
      padding: 0;
    }
  }
}
