@import '../../styles/mixin.scss';

.fe-input {
  $class: &;

  display: inline-flex;
  position: relative;
  flex-direction: column;
  vertical-align: middle;

  @include with-full-width;

  &__header {
    display: flex;
    margin-bottom: var(--element-spacing);
    font-size: var(--element-font-size);

    & * > {
      background-color: inherit;
      color: inherit;
      font-size: var(--element-font-size);
      font-weight: 600;
    }

    #{$class}__label-button {
      margin-left: auto;
      border: none;
      padding: 0;
      height: auto;
      filter: none;
      text-decoration: underline;
    }
  }

  &-in-form {
    margin: 0.5rem 0 1rem;
  }

  &__inner {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    align-items: center;
    font-family: var(--element-font-family);
    font-size: var(--element-font-size);
    padding: 0 var(--element-padding);
    height: var(--element-height);
    width: 100%;
    border-radius: var(--element-border-radius-sm);
    background-color: var(--color-white);
    color: var(--color-gray-8);
    border: 1px solid var(--element-border-color);

    @include with-size {
      border-radius: var(--element-border-radius-sm);
    }

    @include with-theme {
      background-color: var(--color-white);
      color: var(--color-gray-8);
      border: 1px solid var(--element-border-color);
    }

    @include with-theme(disabled) {
      background-color: var(--color-gray-0);
      color: var(--color-text-disabled);

      border: 1px solid var(--background-disabled);
      opacity: 0.85;
    }

    &:hover {
      border-color: var(--color-gray-5);
    }

    &:focus-within {
      border-color: var(--theme-color);
    }

    #{$class}__input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: inherit;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }

    &-error {
      border-color: var(--color-danger);
      color: var(--color-danger);
    }

    &-multi {
      vertical-align: middle;
      min-height: var(--element-height);
      height: auto;
      padding: 0;
      overflow: hidden;

      #{$class}__input {
        padding: var(--element-padding);
      }
    }

    .fe-icon {
      cursor: pointer;
      user-select: none;
      @include with-clickable {
        border-radius: 50%;
        background-color: inherit;
        width: var(--size-icon);
        height: var(--size-icon);
      }
    }
  }

  &__error {
    color: var(--color-danger);
    font-size: var(--element-font-size-sm);
  }
}
