.fe-switch-toggle {
  &__with_labels {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #99a6b9;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__label {
    margin: 0 1rem;
    transition: color 0.3s ease-in;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: black;
    }
  }

  &__active-left .fe-switch-toggle__label:first-child,
  &__active-right .fe-switch-toggle__label:last-child {
    color: black;
    font-weight: bold;
  }

  &__loading {
    cursor: progress !important;

    * {
      cursor: progress !important;
    }

    label:after {
      left: 1.1rem !important;
      box-shadow: none;
      opacity: 0.5 !important;
    }
  }
}
