//@import url('https://cdn.jsdelivr.net/npm/@frontegg/react-dev/vendor.min.css');
@import url('https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css');


/*******************************
          Highlighting
*******************************/

::-webkit-selection {
  background-color: highlight;
  color: highlighttext;
}

::-moz-selection {
  background-color: highlight;
  color: highlighttext;
}

::selection {
  background-color: highlight;
  color: highlighttext;
}


/*--------------------
      Autofilled
---------------------*/

.ui.form .field.field input:-webkit-autofill {
  -webkit-box-shadow: inherit !important;
  box-shadow: inherit !important;
  border-color: inherit;
}

/* Focus */

.ui.form .field.field input:-webkit-autofill:focus {
  -webkit-box-shadow: inherit !important;
  box-shadow: inherit !important;
  border-color: inherit;
}

/* Error */
.ui.form .error.error input:-webkit-autofill {
  -webkit-box-shadow: 0px 0px 0px 100px #FFFAF0 inset !important;
  box-shadow: 0px 0px 0px 100px #FFFAF0 inset !important;
  border-color: #E0B4B4 !important;
}

