html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: 'Nunito Sans', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

#root,
.app {
  height: 100%;
}
