
.frontegg {

  --fe-table-header-background: #f9fafc;
  --fe-table-header-color: #3c4a5a;
  --fe-table-header-padding: 1em 2em;
  --fe-table-body-padding: .75em 2em;
  --fe-table-header-font-size: .875rem;
  --fe-table-title-color: #3c4a5a;
  --fe-table-description-color: #aaa;

  .ui.table {
    border: 0;

    thead {
      background-color: var(--fe-table-header-background);

      th {
        background: initial;
        font-size: var(--fe-table-header-font-size);
        padding: var(--fe-table-header-padding);
        border: 0;
        text-transform: uppercase;
        color: var(--fe-table-header-color);
      }
    }

    td {
      padding: var(--fe-table-body-padding);
      font-weight: bold;
      font-size: 1rem;
      color: var(--fe-table-title-color);

      a {
        color: var(--fe-table-title-color);
      }

      small {
        font-size: 0.8em;
        display: block;
        color: #888
      }
    }
  }

  .fe-table-wrapper {
    .ui.loader {
      top: 150%;
    }
  }

  //
  //.ui.grid {
  //  margin-top: 0;
  //  margin-right: 0;
  //  margin-bottom: 0;
  //  margin-left: 0;
  //}
  //
  //.ui.dimmer {
  //  background: rgba(0, 0, 0, .5);
  //}
  //
  //.ui.button {
  //  font-size: .8rem;
  //  padding: 1rem 1.5rem;
  //}
  //
  //.ui.radio.checkbox label {
  //  padding-left: 1rem;
  //  color: var(--fe-font-color);
  //  font-size: 1rem;
  //  margin-left: .85rem;
  //  margin-right: 4rem;
  //
  //  &:before {
  //    left: .5rem;
  //    top: 0;
  //  }
  //
  //  &:after {
  //    transform: none;
  //    background-color: rgba(255, 200, 173, 0.7);
  //    left: 10px;
  //    top: 0;
  //  }
  //}
  //
  //.ui.radio.checkbox input {
  //  &:focus:checked ~ label:before,
  //  &:checked ~ label:before {
  //    background-color: var(--fe-color-white);
  //    border: 0.25rem solid #ffc8ad;
  //    width: 1rem;
  //    height: 1rem;
  //  }
  //
  //  &:focus:checked ~ label:after,
  //  &:checked ~ label:after {
  //    background-color: transparent;
  //  }
  //}
  //
  //.ui.input.action.loading > .ui.button:last-child {
  //  padding-right: 2.5rem;
  //}
  //
}
