@import './common.scss';
@import './frontegg-theme.scss';

:root {
  --frontegg-filter-box-background-color: #586ccf;
  --frontegg-filter-box-text-color: white;
  --frontend-table-header-background-color: white;
  --frontend-table-header-text-color: black;
  --frontend-table-row-background-color: white;
  --frontend-table-row-text-color: #6f6f70;
  --frontend-table-row-time-status-color: #acacac;
  --frontend-add-button-background-color: #2185d0;
  --frontend-add-button-text-color: white;
  --frontend-delete-button-background-color: #db2828;
  --frontend-delete-button-color: #f5f5f5;
  --frontend-fontsize-table-names: 13px;
  --frontend-fontsize-table-descriptions: 13px;
  --frontend-table-row-height: 50px;
  --frontend-table-text-line-height: 1.4;
  --frontend-table-text-font-family: inherit;
  --frontend-modal-dialog-header-background: white;
  --frontend-modal-dialog-header-text-color: black;
  --frontend-modal-cancel-button-background: #d01919;
  --frontend-modal-accept-button-background: #2185d0;
  --frontend-modal-cancel-button-foreground: white;
  --frontend-modal-accept-button-foreground: white;
  --frontend-pagination-controls-foreground: #000000;
  --frontend-pagination-controls-background: #000000;
  --frontend-font-family: inherit;
  --frontend-notification-background: #707070;
  --frontend-notifications-unread-indicator-color: #ff2d08;
  --frontend-notifications-unread-indicator-count-color: #ffffff;
  --frontend-add-pin-background-color: #000000;
  --frontend-table-max-width: 100%;
  --frontend-table-header-font-size: 14px;
  --frontend-table-padding-inside: 10px;
  --frontend-notifications-border-radius: 1px;
  --frontend-notifications-width-box: 335px;
  --frontend-notifications-box-fore-color: #ffffff;
  --frontend-notifications-box-back-color: #bcbcbc;
  --frontend-notifications-box-border-color: #bcbcbc;
  --frontend-notifications-box-font-size: 12px;
  --frontend-notifications-bell-color: #707070;
  --frontend-notifications-alert-size: 20px;
  --frontend-notifications-row-height: 96px;
  --frontend-notifications-row-padding: 10px;
  --frontend-notifications-row-background-color: #ffffff;
  --frontend-notifications-row-title-color: #6d6d6d;
  --frontend-notifications-row-title-font-size: 14px;
  --frontend-notifications-row-title-font-weight: normal;
  --frontend-notifications-row-description-color: #6d6d6d91;
  --frontend-notifications-row-description-font-size: 14px;
  --frontend-notifications-row-description-font-weight: normal;
  --frontend-notifications-row-time-presentation-color: #6d6d6d;
  --frontend-notifications-row-time-presentation-font-size: 11px;
  --frontend-notifications-row-time-presentation-font-weight: normal;
  --frontend-notifications-unread-row-background-color: #f5f5f7;
  --frontend-notifications-unread-row-title-color: #05060b;
  --frontend-notifications-unread-row-title-font-size: 14px;
  --frontend-notifications-unread-row-title-font-weight: bold;
  --frontend-notifications-unread-row-description-color: #87888d;
  --frontend-notifications-unread-row-description-font-size: 14px;
  --frontend-notifications-unread-row-description-font-weight: normal;
  --frontend-notifications-unread-row-time-presentation-color: #87888d;
  --frontend-notifications-unread-row-time-presentation-font-size: 11px;
  --frontend-notifications-options-icon-color: rgba(112, 112, 112, 0.7);
  --frontend-notifications-pagination-see-all-text-color: #ffffff;
  --frontend-notifications-pagination-see-all-font-size: 12px;
  --frontend-notifications-pagination-see-all-text-weight: 700;
  //audits icons
  --frontend-audits-icons-color: #000000;
  --frontend-audits-action-icons-color: #ff8c7f;
}

.frontegg {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
  height: 100%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  font-size: 16px;

}

// @import './semantic.orig.scss';
// @import './semantic.orig.min.css';
