.fe-checkbox {
  position: relative;
  outline: none;
  display: inline-block;

  &__in-form {
    margin-bottom: var(--element-spacing);
    margin-right: calc(var(--element-spacing) * 2);
  }
  &__full-width {
    display: block;
    margin-right: 0;
  }

  &__content {
    display: inline-block;
    position: relative;
  }

  input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }

  .fe-checkbox__label {
    vertical-align: middle;
  }

  .fe-checkbox__input {
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--fe-checkbox-border-color, var(--color-gray-4));
    border-radius: var(--fe-checkbox-border-radius, var(--element-border-radius));
    display: inline-block;
    cursor: pointer;
    color: var(--fe-checkbox-icon-color, var(--color-text));
    transition: all 200ms;
    vertical-align: middle;
    margin-right: 0.5rem;
    position: relative;
    opacity: 1;
  }

  input:hover:not(:disabled) + .fe-checkbox__input,
  input:active:not(:disabled) + .fe-checkbox__input,
  input:focus:not(:disabled) + .fe-checkbox__input {
    border-color: var(--fe-checkbox-icon-color, var(--color-primary));
  }

  .fe-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 1rem;
    height: 1rem;
    max-width: unset;
    opacity: 0;
    transform: scale(0.1);
    transition: all 200ms;
    margin: 0;
  }

  input:checked + .fe-checkbox__input {
    border-color: var(--fe-checkbox-active-color, var(--color-primary));
    color: var(--fe-checkbox-icon-color, var(--color-primary));
    border-width: 0.5rem;

    .fe-icon {
      transform: scale(1);
      opacity: 1;
      top: -0.5rem;
      left: -0.5rem;
    }
  }

  input:checked:hover:not(:disabled) + .fe-checkbox__input,
  input:checked:active:not(:disabled) + .fe-checkbox__input,
  input:checked:focus:not(:disabled) + .fe-checkbox__input {
    filter: brightness(0.9);
  }

  &__disabled {
    input {
      cursor: default;
    }
  }
}
