
.frontegg {
  --fe-header-padding: calc(1.5 * var(--fe-spacing)) calc(2 * var(--fe-spacing));
  --fe-header-font-size: 1.5rem;
  --fe-header-font-color: #6f6f70;
  --fe-header-font-weight: bold;
  --fe-header-sub-title-color: #a0a0a0;
  --fe-header-sub-title-font-weight: normal;
  --fe-header-back-button-color: #a0a0a0;
  --fe-header-hover-bg: rgba(75, 75, 75, 0.1);

  .fe-page-header {
    width: 100%;
    padding: var(--fe-header-padding);
    font-size: var(--fe-header-font-size);
    color: var(--fe-header-font-color);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    line-height: 1;
    min-height: 90px;
    margin-bottom: 10px;

    .fe-left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .fe-title {
        position: relative;
        font-size: .8em;
        line-height: 1em;
        font-weight: var(--fe-header-font-weight);
        transition: all .3s ease-out;
      }

      .fe-title__back-button {
        padding-left: 2.8rem;
      }

      .fe-subtitle {
        font-size: .7em;
        margin-top: 0.5rem;
        color: var(--fe-header-sub-title-color);
        font-weight: var(--fe-header-sub-title-font-weight);
        display: block;
        line-height: 1;
      }
    }

    .fe-right {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: flex-end;
    }

    &.fe-page-header__with-tabs {
      padding-bottom: 0;

      .ui.menu {
        margin-bottom: 1px;
        margin-top: .5rem;

        .item {
          border-bottom-width: 1px;
          padding: 1rem 1rem;

          &.active {
            color: #0baf60;
            border-bottom: 1px solid #0baf60;

            &:hover {
              color: #0a9c56;
              border-bottom: 1px solid #0a9c56;
            }
          }
        }
      }

    }

    .fe-back-button {
      position: absolute;
      left: 0;
      top: -0.4rem;
      width: 2rem;
      height: 2rem;
      text-align: center;
      border-radius: .3rem;
      box-sizing: border-box;
      cursor: pointer;
      transition: all .3s ease-out;

      svg {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        fill: var(--fe-header-back-button-color);
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transition: fill 300ms ease-out;
      }

      &:hover {
        background: var(--fe-header-hover-bg);

        svg {
          fill: var(--fe-header-font-color);
        }
      }
    }
  }

}
