
.fe-login-component,
.fe-forgot-password-component {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: bold;

  .ui.loader.inline {
    display: block;
    margin: 2rem auto 1rem;
  }
}

//.ui.button.fe-field-button {
//  float: initial;
//  font-size: 0.8rem;
//  padding: 0;
//  position: absolute;
//  right: 0;
//  top: 2px;
//  background: transparent;
//  color: #666;
//  text-transform: initial;
//  font-weight: initial;
//  text-decoration: underline;
//}

//.fe-form-input {
//  line-height: 1.5
//}

@media screen and (max-width: 400px) {
  .fe-login-page {
    padding-top: 10vh;
    justify-content: flex-start;

    .fe-login-container {
      box-shadow: none;
    }
  }
}
