.frontegg {

  .fe-auth-page {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 100;
  }

  .fe-auth-header {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem;
    align-items: center;
    overflow-x: hidden;

    > * {
      max-width: 100%;
    }
  }

  .fe-login-sso-redirect,
  .fe-login-success,
  .fe-activation-success,
  .fe-forget-password-success,
  .fe-activation-failed {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;

    .ui.loader.inline {
      display: block;
      margin: 2rem auto 1rem;
    }

    .fe-login-error-message, .fe-success-message {
      font-weight: bold;
      flex: 1;
    }
  }
}
