.fe-login-component,
.fe-forgot-password-component,
.fe-activate-account-component {
  flex: 1;
  display: flex;
  flex-direction: column;

  .ui.loader.inline {
    display: block;
    margin: 2rem auto 1rem;
  }
}

@media screen and (max-width: 400px) {
  .fe-login-page {
    padding-top: 10vh;
    justify-content: flex-start;

    .fe-login-container {
      box-shadow: none;
    }
  }
}
