.fe-profile-page {
  .fe-page-header {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: auto;
  }
}

.fe-profile-mfa-page,
.fe-profile-password-page {
  padding: 2rem;
}

.fe-profile-mfa-page {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.fe-profile-info {
  display: flex;
  flex-direction: row;
  width: 80rem;
  margin: auto;
  max-width: 90%;
}

.fe-profile-image {
  &-uploader {
    .fe-card-content {
      display: flex;
      flex-direction: row;
      padding: 2.5rem;
    }
  }

  &-container {
    border-radius: 50%;
    background: var(--color-blue-gray-0);
    width: 10rem;
    height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .fe-icon {
      fill: var(--color-gray-0);
      color: var(--color-gray-0);
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }

    .fe-icon.fe-profile-image-remove {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      color: var(--color-white);
      background: var(--color-red-5);
      border-radius: 50%;
      font-size: 0.85rem;
      line-height: 2rem;
      text-align: center;
      width: 2rem;
      height: 2rem;
      cursor: pointer;

      &:hover {
        background: var(--color-red-7);
      }
    }
  }

  &-details {
    flex: 1;
    padding: 0 2.5rem;
    justify-content: center;

    .fe-profile-name {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 0rem;
      text-overflow: ellipsis;
    }

    .fe-profile-email {
      margin-bottom: 2rem;
    }

    input[type='file'] {
      display: none;
    }
  }

  &-note {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
    color: var(--color-gray-5);
  }
}

.fe-profile-basic-information {
  flex: 1;
  padding: 2rem;
}

@media screen and (max-width: 75rem) {
  .fe-profile-info {
    flex-direction: column;
  }
}
