.fe-sign-up {
  &__back-to-login-link {
    cursor: pointer;
    color: var(--color-primary);

    &:hover {
      color: var(--color-primary-75);
    }
  }

  &__success-container {
    margin-bottom: 3em;
  }

  &__checkbox {
    margin-bottom: 1rem;

    .fe-checkbox__content {
      display: flex;

      input {
        width: 1.5rem;
      }
    }
  }
}
