.fe-sso-overview {
  margin: 2rem auto;
}

.fe-sso-steps {
  display: flex;
  justify-content: center;
  width: 50rem;
  max-width: 95%;
  margin: 4rem auto;

  .fe-sso-step {
    box-sizing: border-box;
    width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f9fafc;
    border: 3px solid #f9fafc;
    margin: 0 2rem;
    overflow: hidden;
    transition: border 200ms ease-in;

    &__inner {
      width: 100%;
      height: 11rem;
      position: relative;
      border-radius: .5rem;
      background-color: #fff;
      margin-bottom: 1rem;
    }

    &:hover {
      border: 3px solid #0baf60;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      padding: 1rem 1rem 0;
      font-weight: bold;

      span {
        font-size: 1rem;
        color: #3c4a5a;
        text-transform: capitalize;
      }

      .fe-sso-step__checkmark {
        box-sizing: content-box;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 0.25rem;
        background-color: #f9fafc;
        border: 1px solid #f1f1f1;
        position: relative;
        padding: 0.25rem;

        .icon {
          color: #0baf60;
          font-size: 1.25rem;
          margin: 0;
        }
      }
    }

    &__title,
    &__subtitle {
      text-overflow: ellipsis;
      white-space: pre-wrap;
      width: 100%;
      overflow: hidden;
      text-align: center;
      font-weight: bold;
      color: #666;
      font-size: 1.25rem;
    }
    &__subtitle {
      margin-top: 1.5rem;
      padding: 0 1.5rem;
      font-size: 1rem;
      color: #3c4a5a;
      font-weight: bold;

    }

    &__info {
      display: flex;
      justify-content: space-around;
      color: #3c4a5a;
    }
  }
}
