.fe-sso-overview {
  margin: 2rem auto;
}

.fe-sso-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75rem;
  max-width: 95%;
  margin: 3rem auto 4rem auto;

  * {
    text-decoration: none;
  }

  .fe-sso-step {
    box-sizing: border-box;
    width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f9fafc;
    border: 3px solid #f9fafc;
    margin: 2rem;
    overflow: hidden;
    transition: border 200ms ease-in;

    &__inner {
      width: 100%;
      height: 11rem;
      position: relative;
      border-radius: 0.5rem;
      background-color: #fff;
      margin-bottom: 1rem;
    }

    &:hover {
      border: 3px solid var(--color-primary-dark);
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      padding: 1rem 1rem 0;
      font-weight: bold;

      span {
        font-size: 1rem;
        color: #3c4a5a;
        text-transform: capitalize;
      }

      .fe-sso-step__checkmark {
        box-sizing: content-box;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 0.25rem;
        background-color: #f9fafc;
        border: 1px solid #f1f1f1;
        position: relative;
        padding: 0.25rem;

        .fe-icon {
          fill: var(--color-primary);
          margin: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    &__title,
    &__subtitle {
      text-overflow: ellipsis;
      white-space: pre-wrap;
      width: 100%;
      overflow: hidden;
      text-align: center;
      font-weight: bold;
      color: #666;
      font-size: 1.25rem;
    }

    &__subtitle {
      margin-top: 1.5rem;
      padding: 0 1.5rem;
      font-size: 1rem;
      color: #3c4a5a;
      font-weight: bold;
    }

    &__info {
      display: flex;
      justify-content: space-around;
      color: #3c4a5a;
    }
  }
}

.fe-sso-guide {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    color: var(--color-gray-9);
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__description {
    color: var(--color-gray-6);
    font-size: 1rem;
  }

  &__steps {
    > * {
      margin-bottom: 0.5rem;
    }
  }

  &__step {
    background: var(--color-white);
    color: var(--color-gray-9);
    padding: 0.9rem;
    border-radius: var(--element-border-radius-tiny);
    display: flex;
    align-items: center;

    .fe-icon {
      margin-right: 0.5rem;
      color: var(--color-gray-3);
      font-size: 1.2rem;
    }
  }

  &__see-more {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-gray-7);
    line-height: 2;
    display: flex;
    flex-direction: row;
    align-items: center;

    > div {
      padding: 0 1rem;
      cursor: pointer;
      color: var(--color-primary);
      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        color: var(--color-primary-light);
      }
    }
  }

  &__instruction-row {
    width: 100%;
    padding-bottom: 1rem;

    .fe-description {
      font-size: 1.1rem;
      margin-bottom: 2rem;
      line-height: 1.5;

      u {
        color: var(--color-primary);
        background: var(--color-gray-0);
        padding: 0.05rem 0.25rem;
        font-family: monospace;
        font-size: 1rem;
        display: inline-block;
      }
    }

    > img {
      max-height: 300px;
      max-width: 90%;
      display: block;
      border: 1px solid var(--color-gray-4);
      border-radius: 0.5rem;
      overflow: hidden;
      margin: auto auto 2rem;
    }
  }
}

.fe-sso-claim-domain {
  &-page {
    border-radius: var(--element-border-radius-sm);
    padding: 1rem 1rem 1rem 2rem;
    background-color: var(--color-gray-0);
    display: flex;
    width: 70rem;
    max-width: 80%;
    margin: 2rem auto;
  }

  &-form {
    flex: 1;
    background: var(--fe-sso-calim-domain-header, var(--color-white));
    border-radius: 0.5rem;

    .fe-form,
    .fe-form > form {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__header {
      height: 4rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-gray-2);
      padding: 0 1.5rem;
      font-weight: bold;
      font-size: 1.1rem;
    }

    &__body {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }
  }
}

.fe-sso-authorization-page {
  border-radius: var(--element-border-radius-sm);
  padding: 2rem;
  background-color: var(--color-gray-0);
  display: flex;
  flex-direction: column;
  width: 50rem;
  max-width: 80%;
  margin: 2rem auto;
  &__title {
    color: var(--color-gray-9);
    font-weight: bold;
    font-size: 1.1rem;
  }
  &__subtitle {
    color: var(--color-gray-6);
    font-size: 1rem;
  }

  &__select {
    margin-top: 2rem;
    &-container {
      margin-bottom: 3rem;
    }
    &-footer {
      text-align: end;
    }
  }
}

@media screen and (max-width: 800px) {
  .fe-sso-claim-domain-page {
    flex-direction: column;
  }
}

.fe-sso-idp-page {
  margin: 2rem auto;
  padding: 1rem 1rem 1rem 1.75rem;
  background-color: var(--color-gray-0);
  width: 78rem;
  max-width: 100%;

  &__title {
    color: var(--color-gray-9);
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__select {
    padding-top: 1rem;
  }

  &__select-container {
    background-color: var(--color-blue-gray-0);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &__select-item {
    background-color: var(--color-white);
    height: 6rem;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    color: var(--color-gray-9);
    overflow: hidden;
    border: 2px solid #ededf0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: revert;
    flex: 1;
    align-items: center;
    font-size: 1rem;

    &:hover,
    &.selected {
      border-color: var(--color-primary);
    }
  }

  &__config {
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;

    .fe-form {
      flex: 1;

      form {
        height: 100%;
      }
    }

    &-header {
      padding: 1rem 2.5rem;

      &-step {
        font-size: 0.875rem;
        color: var(--color-gray-6);
      }
    }
  }

  .sso-endpoint-container {
    margin-top: 1rem;
  }

  &__progress-1,
  &__progress-2 {
    width: 50%;
    height: 2px;
    background: var(--color-primary);
    transition: width 300ms;
  }

  &__progress-2 {
    width: 100%;
  }

  &__step {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
  }
}

.fe-sso-dnd {
  background-color: var(--color-gray-0);
  padding: 1rem;
  height: 13.5rem;
  width: 100%;
  border-radius: 4px;
  color: var(--color-gray-9);
  margin-bottom: 2rem;

  &-title {
    margin-top: 1rem;
    color: var(--color-gray-9);
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  &-container {
    flex: 1;
    width: 100%;
    height: 100%;
    border: 1px dashed #d4dde9;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      margin-top: 1rem;
      max-width: 9.5rem;
    }
  }
}
