.fe-team {
  &__page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__table {
    flex: 1;
    overflow: hidden;
  }

  &__table-toolbar {
    padding: 0.5rem 2rem;
  }

  &__filter-popup-md {
    width: 20rem;
  }

  &__filter-title {
    font-size: 1rem;
    font-weight: bold;
  }

  &__roles-dropdown {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    div {
      width: 100%;
      text-align: left;
    }
  }
}
