.fe-team {
  &__page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__table {
    flex: 1;
    overflow: hidden;
  }

  &__table-toolbar {
    padding: 1rem 2rem;
  }

  &__filter-popup-md {
    width: 20rem;
  }

  &__filter-title {
    font-size: 1rem;
    font-weight: bold;
  }

  &__roles-dropdown-button.fe-button {
    min-width: 3rem;
  }

  &__roles-popup.fe-popup__container {
    padding: 0;

    .fe-team__roles-dropdown {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0;

      &-disabled {
        opacity: 0.6;
        cursor: wait;
      }

      .fe-menu-item {
        padding-right: 2rem;
        text-align: left;
      }

      .fe-checkbox.fe-menu-item__icon {
        height: 1.75rem;
        max-width: calc(100% - 2.5rem);

        .fe-checkbox__input {
          width: 1.25rem;
          height: 1.25rem;
        }

        input:checked + .fe-checkbox__input .fe-icon {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}
