.fe-notifications {
  &-window {
    width: 380px;
    &-items-container {
      max-height: 550px;
      overflow-y: auto;
      margin: 0 -10px 0 -10px;
      padding: 0 10px;
    }
    &-header {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding-bottom: 20px;
      height: 32px;
      justify-content: space-between;
      align-items: center;
      background-color: var(--frontend-notifications-box-back-color);
      margin-top: -4px;
      &__border {
        border-left: none;
        border-right: none;
        border-top: none;
        margin: 0 -16px;
        padding: 0;
        border-bottom: 1px solid var(--frontend-notifications-box-border-color);
      }
      &__title {
        color: #3c4a5a;
        font-size: var(--frontend-notifications-box-font-size);
        font-weight: bold;
        text-transform: uppercase;
      }
      &__counter {
        width: 24px;
        height: 24px;
        border-radius: 5px;
      }
    }
    &-footer {
      padding: 1rem 0;
      &__button {
        color: var(--frontend-notifications-pagination-see-all-text-color);
        font-size: var(--frontend-notifications-pagination-see-all-font-size);
        font-weight: var(--frontend-notifications-pagination-see-all-text-weight);
      }
    }
  }
  &-item-unread {
    background-color: var(--frontend-notifications-unread-row-background-color);
    &__title {
      color: var(--frontend-notifications-unread-row-title-color);
      font-weight: var(--frontend-notifications-unread-row-title-font-weight);
      font-size: var(--frontend-notifications-unread-row-title-font-size);
      margin-bottom: 8px;
    }
    &__desc {
      color: var(--frontend-notifications-unread-row-description-color);
      font-size: var(--frontend-notifications-unread-row-description-font-size);
      margin-bottom: 8px;
      font-weight: var(--frontend-notifications-unread-row-description-font-weight);
    }
    &__time {
      font-size: var(--frontend-notifications-unread-row-time-presentation-font-size);
      color: var(--frontend-notifications-unread-row-time-presentation-color);
    }
    &__options-icon {
      svg {
      }
    }
  }

  &-item {
    position: relative;
    padding: 16px;
    margin-top: 10px;
    min-height: 106px;
    width: 348px;
    border-radius: 3px;
    background-color: var(--frontend-notifications-row-background-color);
    &__main {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    &__icon {
      width: 40px;
      height: 40px;
      background-color: lightsalmon;
      border-radius: 5px;
      margin-right: 10px;
    }
    &__title {
      color: var(--frontend-notifications-row-title-color);
      font-weight: var(--frontend-notifications-row-title-font-weight);
      font-size: var(--frontend-notifications-row-title-font-size);
      margin-bottom: 8px;
    }
    &__desc {
      color: var(--frontend-notifications-row-description-color);
      font-size: var(--frontend-notifications-row-description-font-size);
      margin-bottom: 8px;
      font-weight: var(--frontend-notifications-row-description-font-weight);
    }
    &__time {
      font-size: var(--frontend-notifications-row-time-presentation-font-size);
      color: var(--frontend-notifications-row-time-presentation-color);
      font-weight: var(--frontend-notifications-row-time-presentation-font-weight);
    }
    &__options-icon {
      position: absolute;
      right: 5px;
      top: 10px;
      svg {
        fill: var(--frontend-notifications-options-icon-color);
      }
    }
    &-options {
      width: 196px;
      height: 144px;
      // margin: -16px;
      // padding: 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__option {
        height: 40px;
        display: flex;
        align-items: center;
        text-align: left;
        svg {
          margin: 0 18px;
        }
        &:hover {
          cursor: pointer;
          background-color: #f0f2f6;
        }
      }
    }
  }
}
