:root {
  --color-primary: var(--color-blue-6);
  --color-primary-25: var(--color-blue-6-25);
  --color-primary-50: var(--color-blue-6-50);
  --color-primary-75: var(--color-blue-6-75);

  --color-primary-lighter: var(--color-blue-0);
  --color-primary-light: var(--color-blue-3);
  --color-primary-dark: var(--color-blue-7);
  --color-primary-darker: var(--color-blue-8);
  --color-primary-bg: var(--color-blue-6);

  --color-secondary: var(--color-deep-purple-3);
  --color-secondary-75: var(--color-deep-purple-a1-75);
  --color-secondary-50: var(--color-deep-purple-a1-50);
  --color-secondary-25: var(--color-deep-purple-a1-25);

  --color-secondary-light: var(--color-deep-purple-1);
  --color-secondary-lightest: var(--color-deep-purple-0);
  --color-secondary-dark: var(--color-deep-purple-5);
  --color-secondary-darker: var(--color-deep-purple-7);
  --color-secondary-bg: var(--color-deep-purple-a1);

  /* feedback */
  --color-success: var(--color-light-green-a3);
  --color-success-75: var(--color-light-green-a3-75);
  --color-success-50: var(--color-light-green-a3-50);
  --color-success-25: var(--color-light-green-a3-25);

  --color-danger: var(--color-red-5);
  --color-danger-75: var(--color-red-8-75);
  --color-danger-50: var(--color-red-8-50);
  --color-danger-25: var(--color-red-8-25);

  --color-danger-dark: var(--color-red-9);
  --color-danger-darker: var(--color-red-9);
  --color-danger-light: var(--color-red-0);
  --color-warning: var(--color-yellow-8);
  --background-warning: var(--color-yellow-0);
  --color-info: var(--color-blue-5);
  --background-info: #d6f2fd;
  --background-disabled: var(--color-gray-2);

  /* text */
  --color-text-on-primary: var(--color-gray-9);
  --color-text-on-secondary: var(--color-gray-0);
  --color-text-on-success: var(--color-gray-9);
  --color-text-on-danger: var(--color-red-5);
  --color-text-on-warning: var(--color-gray-9);
  --color-text-on-info: var(--color-gray-0);

  /* typography */
  --color-text: var(--color-gray-9);
  --color-text-heading: var(--color-black);
  --color-text-subtitle: var(--color-gray-6);
  --color-text-disabled: var(--color-gray-6);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);
  --color-blockquote-border: var(--color-gray-2);

  /* social colors */
  --color-facebook: var(--color-indigo-5);
  --color-google: var(--color-blue-a1);
  --color-github: var(--color-gray-8);

  /* select component */
  --select-color-primary: var(--color-secondary);
  --select-color-primary-75: var(--color-secondary-75);
  --select-color-primary-50: var(--color-secondary-50);
  --select-color-primary-25: var(--color-secondary-25);

  --color-white: #fff;
  --color-black: #000;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-black-40: rgba(0, 0, 0, 0.4);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-70: rgba(0, 0, 0, 0.7);
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-black-90: rgba(0, 0, 0, 0.9);

  --color-red-0: #fdecec;
  --color-red-1: #ffcdd2;
  --color-red-2: #ef9a9a;
  --color-red-3: #e57373;
  --color-red-4: #ef5350;
  --color-red-5: #f52424;
  --color-red-6: #e53935;
  --color-red-7: #d32f2f;
  --color-red-7-75: rgba(211, 47, 47, 0.75);
  --color-red-7-50: rgba(211, 47, 47, 0.5);
  --color-red-7-25: rgba(211, 47, 47, 0.25);
  --color-red-7-10: rgba(211, 47, 47, 0.1);
  --color-red-8: #c62828;
  --color-red-8-75: rgba(198, 40, 40, 0.75);
  --color-red-8-50: rgba(198, 40, 40, 0.5);
  --color-red-8-25: rgba(198, 40, 40, 0.25);
  --color-red-9: #b71c1c;
  --color-red-a0: #ff8a80;
  --color-red-a1: #ff5252;
  --color-red-a2: #ff1744;
  --color-red-a3: #d50000;
  --color-pink-0: #fce4ec;
  --color-pink-1: #f8bbd0;
  --color-pink-2: #f48fb1;
  --color-pink-3: #f06292;
  --color-pink-4: #ec407a;
  --color-pink-5: #e91e63;
  --color-pink-6: #d81b60;
  --color-pink-7: #c2185b;
  --color-pink-8: #ad1457;
  --color-pink-9: #880e4f;
  --color-pink-a0: #ff80ab;
  --color-pink-a1: #ff4081;
  --color-pink-a2: #f50057;
  --color-pink-a3: #c51162;
  --color-purple-0: #f3e5f5;
  --color-purple-1: #e1bee7;
  --color-purple-2: #ce93d8;
  --color-purple-3: #ba68c8;
  --color-purple-4: #ab47bc;
  --color-purple-5: #9c27b0;
  --color-purple-6: #8e24aa;
  --color-purple-7: #7b1fa2;
  --color-purple-8: #6a1b9a;
  --color-purple-9: #4a148c;
  --color-purple-a0: #ea80fc;
  --color-purple-a1: #e040fb;
  --color-purple-a2: #d500f9;
  --color-purple-a3: #aa00ff;
  --color-deep-purple-0: #ede7f6;
  --color-deep-purple-1: #d1c4e9;
  --color-deep-purple-2: #b39ddb;
  --color-deep-purple-3: #9575cd;
  --color-deep-purple-4: #7e57c2;
  --color-deep-purple-5: #673ab7;
  --color-deep-purple-6: #5e35b1;
  --color-deep-purple-7: #512da8;
  --color-deep-purple-8: #4527a0;
  --color-deep-purple-9: #311b92;
  --color-deep-purple-a0: #b388ff;

  --color-deep-purple-a1: #6e5bd8;
  --color-deep-purple-a1-75: rgba(110, 81, 216, 0.75);
  --color-deep-purple-a1-50: rgba(110, 81, 216, 0.5);
  --color-deep-purple-a1-25: rgba(110, 81, 216, 0.25);

  --color-deep-purple-a2: #651fff;
  --color-deep-purple-a3: #6200ea;

  --color-indigo-0: #e8eaf6;
  --color-indigo-1: #c5cae9;
  --color-indigo-2: #9fa8da;
  --color-indigo-3: #7986cb;
  --color-indigo-4: #5c6bc0;
  --color-indigo-5: #3b5998;
  --color-indigo-6: #3949ab;
  --color-indigo-7: #303f9f;
  --color-indigo-8: #283593;
  --color-indigo-9: #1a237e;
  --color-indigo-a0: #8c9eff;
  --color-indigo-a1: #536dfe;
  --color-indigo-a2: #3d5afe;
  --color-indigo-a3: #304ffe;
  --color-blue-0: #e3f2fd;
  --color-blue-1: #bbdefb;
  --color-blue-2: #90caf9;
  --color-blue-3: #64b5f6;
  --color-blue-4: #42a5f5;
  --color-blue-5: #2196f3;
  --color-blue-5-25: rgba(33, 150, 243, 0.25);
  --color-blue-5-50: rgba(33, 150, 243, 0.5);
  --color-blue-5-75: rgba(33, 150, 243, 0.75);
  --color-blue-6: #1e88e5;
  --color-blue-6-25: rgb(30, 136, 229, 0.25);
  --color-blue-6-50: rgb(30, 136, 229, 0.5);
  --color-blue-6-75: rgb(30, 136, 229, 0.75);
  --color-blue-7: #1976d2;
  --color-blue-8: #1565c0;
  --color-blue-9: #0d47a1;
  --color-blue-a0: #82b1ff;
  --color-blue-a1: #448aff;
  --color-blue-a2: #2979ff;
  --color-blue-a3: #2962ff;
  --color-light-blue-0: #e1f5fe;
  --color-light-blue-1: #b3e5fc;
  --color-light-blue-2: #81d4fa;
  --color-light-blue-3: #4fc3f7;
  --color-light-blue-4: #29b6f6;
  --color-light-blue-5: #03a9f4;
  --color-light-blue-6: #039be5;
  --color-light-blue-7: #0288d1;
  --color-light-blue-8: #0277bd;
  --color-light-blue-9: #01579b;
  --color-light-blue-a0: #80d8ff;
  --color-light-blue-a1: #40c4ff;
  --color-light-blue-a2: #00b0ff;
  --color-light-blue-a3: #0091ea;
  --color-cyan-0: #e0f7fa;
  --color-cyan-1: #b2ebf2;
  --color-cyan-2: #80deea;
  --color-cyan-3: #4dd0e1;
  --color-cyan-4: #26c6da;
  --color-cyan-5: #00bcd4;
  --color-cyan-6: #00acc1;
  --color-cyan-7: #0097a7;
  --color-cyan-8: #00838f;
  --color-cyan-9: #006064;
  --color-cyan-a0: #84ffff;
  --color-cyan-a1: #18ffff;
  --color-cyan-a2: #00e5ff;
  --color-cyan-a3: #00b8d4;
  --color-teal-0: #e0f2f1;
  --color-teal-1: #b2dfdb;
  --color-teal-2: #80cbc4;
  --color-teal-3: #4db6ac;
  --color-teal-4: #26a69a;
  --color-teal-5: #009688;
  --color-teal-6: #00897b;
  --color-teal-7: #00796b;
  --color-teal-8: #00695c;
  --color-teal-9: #004d40;
  --color-teal-a0: #a7ffeb;
  --color-teal-a1: #64ffda;
  --color-teal-a2: #1de9b6;
  --color-teal-a3: #00bfa5;
  --color-green-0: #e8f5e9;
  --color-green-1: #c8e6c9;
  --color-green-2: #a5d6a7;
  --color-green-3: #81c784;
  --color-green-4: #66bb6a;
  --color-green-5: #0baf60;
  --color-green-5-75: rgba(11, 175, 96, 0.75);
  --color-green-5-50: rgba(11, 175, 96, 0.5);
  --color-green-5-25: rgba(11, 175, 96, 0.25);
  --color-green-6: #43a047;
  --color-green-7: #388e3c;
  --color-green-8: #2e7d32;
  --color-green-9: #1b5e20;
  --color-green-a0: #b9f6ca;
  --color-green-a1: #69f0ae;
  --color-green-a2: #00e676;
  --color-green-a3: #00c853;
  --color-light-green-0: #f1f8e9;
  --color-light-green-1: #dcedc8;
  --color-light-green-2: #c5e1a5;
  --color-light-green-3: #aed581;
  --color-light-green-4: #9ccc65;
  --color-light-green-5: #8bc34a;
  --color-light-green-6: #7cb342;
  --color-light-green-7: #689f38;
  --color-light-green-8: #558b2f;
  --color-light-green-9: #33691e;
  --color-light-green-a0: #ccff90;
  --color-light-green-a1: #b2ff59;
  --color-light-green-a2: #76ff03;
  --color-light-green-a3: rgba(49, 196, 52, 1);
  --color-light-green-a3-25: rgba(49, 196, 52, 0.25);
  --color-light-green-a3-50: rgba(49, 196, 52, 0.5);
  --color-light-green-a3-75: rgba(49, 196, 52, 0.75);
  --color-lime-0: #f9fbe7;
  --color-lime-1: #f0f4c3;
  --color-lime-2: #e6ee9c;
  --color-lime-3: #dce775;
  --color-lime-4: #d4e157;
  --color-lime-5: #cddc39;
  --color-lime-6: #c0ca33;
  --color-lime-7: #afb42b;
  --color-lime-8: #9e9d24;
  --color-lime-9: #827717;
  --color-lime-a0: #f4ff81;
  --color-lime-a1: #eeff41;
  --color-lime-a2: #c6ff00;
  --color-lime-a3: #aeea00;
  --color-yellow-0: #fffde7;
  --color-yellow-1: #fff9c4;
  --color-yellow-2: #fff59d;
  --color-yellow-3: #fff176;
  --color-yellow-4: #ffee58;
  --color-yellow-5: #ffeb3b;
  --color-yellow-6: #fdd835;
  --color-yellow-7: #fbc02d;
  --color-yellow-8: #f9a825;
  --color-yellow-9: #f57f17;
  --color-yellow-a0: #ffff8d;
  --color-yellow-a1: #ffff00;
  --color-yellow-a2: #ffea00;
  --color-yellow-a3: #ffd600;
  --color-amber-0: #fff8e1;
  --color-amber-1: #ffecb3;
  --color-amber-2: #ffe082;
  --color-amber-3: #ffd54f;
  --color-amber-4: #ffca28;
  --color-amber-5: #ffc107;
  --color-amber-5-75: rgba(255, 193, 7, 0.75);
  --color-amber-5-50: rgba(255, 193, 7, 0.5);
  --color-amber-5-25: rgba(255, 193, 7, 0.25);

  --color-amber-6: #f2b607;
  --color-amber-7: #dca706;
  --color-amber-8: #ff8f00;
  --color-amber-9: #ff6f00;
  --color-amber-a0: #ffe57f;
  --color-amber-a1: #ffd740;
  --color-amber-a2: #ffc400;
  --color-amber-a3: #ffab00;
  --color-orange-0: #fff3e0;
  --color-orange-1: #ffe0b2;
  --color-orange-2: #ffcc80;
  --color-orange-3: #ffb74d;
  --color-orange-4: #ffa726;
  --color-orange-5: #ff9800;
  --color-orange-6: #fb8c00;
  --color-orange-7: #f57c00;
  --color-orange-8: #ef6c00;
  --color-orange-9: #e65100;
  --color-orange-a0: #ffd180;
  --color-orange-a1: #ffab40;
  --color-orange-a2: #ff9100;
  --color-orange-a3: #ff6d00;
  --color-deep-orange-0: #fbe9e7;
  --color-deep-orange-1: #ffccbc;
  --color-deep-orange-2: #ffab91;
  --color-deep-orange-3: #ff8a65;
  --color-deep-orange-4: #ff7043;
  --color-deep-orange-5: #ff5722;
  --color-deep-orange-6: #f4511e;
  --color-deep-orange-7: #e64a19;
  --color-deep-orange-8: #d84315;
  --color-deep-orange-9: #bf360c;
  --color-deep-orange-a0: #ff9e80;
  --color-deep-orange-a1: #ff6e40;
  --color-deep-orange-a2: #ff3d00;
  --color-deep-orange-a3: #dd2c00;
  --color-brown-0: #efebe9;
  --color-brown-1: #d7ccc8;
  --color-brown-2: #bcaaa4;
  --color-brown-3: #a1887f;
  --color-brown-4: #8d6e63;
  --color-brown-5: #795548;
  --color-brown-6: #6d4c41;
  --color-brown-7: #5d4037;
  --color-brown-8: #4e342e;
  --color-brown-9: #3e2723;
  --color-gray-0: #f9fafc;
  --color-gray-1: #f7f8fa;
  --color-gray-2: #eeeeee;
  --color-gray-3: #e0e0e0;
  --color-gray-4: #cccdd2;
  --color-gray-5: #9e9e9e;
  --color-gray-6: #757575;
  --color-gray-7: #616161;
  --color-gray-8: #424242;
  --color-gray-9: #212121;
  --color-blue-gray-0: #eceff1;
  --color-blue-gray-1: #cfd8dc;
  --color-blue-gray-2: #b0bec5;
  --color-blue-gray-3: #90a4ae;
  --color-blue-gray-4: #78909c;
  --color-blue-gray-5: #607d8b;
  --color-blue-gray-6: #546e7a;
  --color-blue-gray-7: #455a64;
  --color-blue-gray-8: #37474f;
  --color-blue-gray-9: #263238;
}

.fe-color-danger {
  color: var(--color-danger) !important;
}
