
.fe-note {
  margin: 1rem 0;
  font-size: 0.8rem;

  &-title {
    font-weight: bold;
    line-height: 2;
  }

  &-description {
    font-weight: normal;
  }
}


button.button.fe-link-button {
  padding: 0;
  background: transparent !important;
  display: inline-block;
  font-size: inherit;
  color: inherit;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.fe-label__with-button {
  position: relative;

  > button.button {
    padding: .25rem;
    background: transparent !important;

    float: right;
    position: absolute;
    margin-right: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 0.85rem;

    &:hover {
      text-decoration: underline;
    }
  }
}


.fe-placeholder-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  margin: 3rem auto;
  min-height: 14rem;
  border-radius: 0.5rem;
  background-color: #f9fafc;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border-radius: 0.5rem;
    border: 1.5px solid #d4dde9;
    position: absolute;

    span {
      margin: 0 auto;
      max-width: 60%;
      text-align: center;
      color: #99a6b9;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
