@mixin fe-space-helper($cls, $property) {
  #{$cls}-0 {
    #{$property}: 0;
  }
  #{$cls}-1 {
    #{$property}: 0.5rem !important;
  }
  #{$cls}-2 {
    #{$property}: 1rem !important;
  }
  #{$cls}-3 {
    #{$property}: 1.5rem !important;
  }
  #{$cls}-4 {
    #{$property}: 2rem !important;
  }
}

@include fe-space-helper('.fe-mt', margin-top);
@include fe-space-helper('.fe-mb', margin-bottom);
@include fe-space-helper('.fe-ml', margin-left);
@include fe-space-helper('.fe-mr', margin-right);
@include fe-space-helper('.fe-pt', padding-top);
@include fe-space-helper('.fe-pb', padding-bottom);
@include fe-space-helper('.fe-pl', padding-left);
@include fe-space-helper('.fe-pr', padding-right);

.fe-center {
  text-align: center;
  align-items: center;
}

.fe-relative {
  position: relative;
}

.fe-bold {
  font-weight: bold;
}

.fe-text-align-end {
  text-align: end;
}

.fe-text-align-start {
  text-align: start;
}

.fe-text-align-center {
  text-align: center;
}

.fe-error-message,
.fe-success-message {
  flex: 1;
  font-weight: bold;
  color: #9a0000;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;

  ul {
    padding-left: 1.5rem;
    text-align: left;
    font-size: 0.8rem;
  }
}

.fe-success-message {
  color: initial;
}

.fe-self-flex-start {
  align-self: flex-start;
}

.fe-self-flex-end {
  align-self: flex-end;
}

.fe-dflex {
  display: flex;
}

.fe-dflex-space-between {
  justify-content: space-between;
}

.fe-mb-0 {
  margin-bottom: 0;
}
