.fe-mt-1 {
  margin-top: 1rem !important;
}

.fe-mt-2 {
  margin-top: 2rem !important;
}

.fe-mb-1 {
  margin-bottom: 1rem !important;
}

.fe-mb-2 {
  margin-bottom: 2rem !important;
}

.fe-ml-1 {
  margin-left: 1rem !important;
}

.fe-ml-2 {
  margin-left: 2rem !important;
}

.fe-mr-1 {
  margin-right: 1rem !important;
}

.fe-mr-2 {
  margin-right: 2rem !important;
}

.fe-center {
  text-align: center;
  align-items: center;
}

.fe-bold {
  font-weight: bold;
}

.fe-error-message,
.fe-success-message {
  flex: 1;
  font-weight: bold;
  color: #9a0000;
  margin-top: 1rem;
  text-align: center;

  ul {
    padding-left: 1.5rem;
    text-align: left;
    font-size: 0.8rem;
  }
}

.fe-success-message {
  color: initial;
}

.fe-self-flex-start {
  align-self: flex-start;
}

.fe-self-flex-end {
  align-self: flex-end;
}
