@use "sass:list";

@mixin with-theme($apply-to: all) {
  @if $apply-to == all {
    &-primary,
    &-secondary,
    &-danger,
    &-default,
    &-disabled {
      background-color: var(--theme-background);
      color: var(--theme-color);
      border: 1px solid var(--theme-background);

      @content;
    }

    &-primary {
      --theme-color: var(--color-primary-lighter);
      --theme-background: var(--color-primary);
    }

    &-secondary {
      --theme-color: var(--color-secondary);
      --theme-background: var(--color-secondary-light);
    }

    &-danger {
      --theme-color: var(--color-danger);
      --theme-background: var(--color-danger-light);
    }

    &-default {
      --theme-color: var(--color-gray-8);
      --theme-background: var(--color-gray-1);
    }

    &-disabled {
      --theme-color: var(--color-text-disabled);
      --theme-background: var(--background-disabled);
      border: none;
      pointer-events: none;
      cursor: default;
    }
  } @else {
    &-#{$apply-to} {
      @content;
    }
  }
}

@mixin with-full-width {
  &-full-width {
    width: 100%;
  }
}

@mixin with-clickable {
  &-clickable {
    cursor: pointer;
    transition: all 0.1s ease-out;
    user-select: none;

    &:focus {
      filter: brightness(0.95);
    }

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.8);
    }

    @content;
  }
}

@mixin with-size {
  --size-icon: var(--element-icon-size);

  &-small,
  &-large {
    padding: var(--size-padding);
    height: var(--size-height);
    font-size: var(--size-font-size);
    border-radius: var(--size-border-radius);
    @content;
  }

  &-small {
    --size-padding: 0 var(--element-padding-sm);
    --size-height: var(--element-height-sm);
    --size-font-size: var(--element-font-size-sm);
    --size-border-radius: var(--element-border-radius-lg);
    --size-icon: var(--element-icon-size-sm);
  }

  &-large {
    --size-padding: 0 var(--element-padding-lg);
    --size-height: var(--element-height-lg);
    --size-font-size: var(--element-font-size-lg);
    --size-border-radius: var(--element-border-radius-sm);
  }
}
