@mixin with-theme {
  &-primary {
    background-color: var(--color-primary-lighter);
    color: var(--color-primary);
    border: 1px solid var(--color-primary-lighter);
    @content;
  }

  &-secondary {
    background-color: var(--color-secondary-light);
    color: var(--color-secondary-dark);
    border: 1px solid var(--color-secondary-light);
    @content;
  }

  &-danger {
    background-color: var(--color-danger-light);
    color: var(--color-black);
    border: 1px solid var(--color-danger-light);
    @content;
  }

  &-default {
    background-color: var(--color-gray-2);
    color: var(--color-black);
    border: 1px solid var(--color-gray-4);
    @content;
  }

  &-disabled {
    background-color: var(--color-gray-3);
    color: var(--color-text-disabled);
    border: none;
    pointer-events: none;
    cursor: default;
    @content;
  }
}

@mixin with-full-width {
  &-full-width {
    width: 100%;
    @content;
  }
}

@mixin with-clickable {
  &-clickable {
    cursor: pointer;
    transition: all 0.1s ease-out;
    user-select: none;

    &:focus {
      filter: brightness(0.95);
    }

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.8);
    }

    @content;
  }
}

@mixin with-size {
  &-small {
    padding: 0 var(--element-padding-sm);
    height: var(--element-height-sm);
    font-size: var(--element-font-size-sm);
    @content;
  }

  &-large {
    padding: 0 var(--element-padding-lg);
    height: var(--element-height-lg);
    font-size: var(--element-font-size-lg);
    @content;
  }
}
