.fe-theme {
  &-primary {
    background: var(--color-primary-lighter);
    color: var(--color-primary);
    border: 1px solid var(--color-primary-lighter);
  }

  &-secondary {
    background: var(--color-secondary-light);
    color: var(--color-secondary-dark);
    border: 1px solid var(--color-secondary-light);
  }

  &-danger {
    background: var(--color-danger-light);
    color: var(--color-black);
    border: 1px solid var(--color-danger-light);
  }

  &-default {
    background-color: var(--color-gray-2);
    color: var(--color-black);
    border: 1px solid var(--color-gray-4);
  }

  &-disabled {
    background-color: var(--color-gray-3);
    color: var(--color-text-disabled);
    border: none;
    pointer-events: none;
    cursor: default;
  }
}
