.fe-integration-checkbox {
  width: 1.4rem;
  height: 1.4rem;
  border: solid 2px #d0d3e0;
  border-radius: 50%;
  position: relative;
  & > input {
    opacity: 0;
  }
  &::after {
    content: '\2713';
    display: flex;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    left: -0.1rem;
    top: 0;
    justify-content: center;
    align-items: center;
    color: #d0d3e0;
  }
  &.active {
    border-color: #0baf60;
    background-color: #d9f4e7;
    &::after {
      color: #0baf60;
    }
  }
}
