.fe-integrations {
  &-context {
    padding: 2rem;
    .fe-integrations-search {
      margin-bottom: 2rem;
    }
  }

  &-platform {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &-button {
    text-transform: uppercase;
    width: 8rem;
    font-weight: bold;
  }
}
