.fe-integrations {
  &-context {
    padding: 2rem;
    .fe-integrations-search {
      margin-bottom: 2rem;
    }
  }

  &-component {
    padding: var(--element-padding);
  }

  &-platform {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &-right-arrow {
      height: 1.3rem;
      width: 1.3rem;
    }
  }
  &-button {
    text-transform: uppercase;
    width: 8rem;
    font-weight: bold;
  }
}

.fe-slack-auth {
  border-radius: 5px;
  background-color: var(--color-gray-0);
  padding: 1rem;
  &-container {
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--color-gray-3);
    padding: 4rem 8rem;
  }
  &__txt {
    margin-bottom: 1.3rem;
    color: var(--color-gray-5);
  }
  &__txt-strong {
    font-weight: bold;
    color: var(--color-gray-9);
    margin-bottom: 1.3rem;
  }
  &__btn {
    color: white;
    text-decoration: none;
    background-color: #511557;
    border-radius: 4px;
    display: inline-flex;
    height: 3rem;
    align-items: center;
    font-weight: bold;
    position: relative;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 1rem;
    }
    span {
      margin: 0 2rem 0 1.5rem;
    }
    &:before {
      content: '';
      position: absolute;
      left: 3.5rem;
      display: block;
      width: 0;
      top: 0;
      bottom: 0;
      border-left: solid 1px #804386;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
