.fe-integrations-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  // background-color: var(--body-bg);
  background-color: var(--color-white);
  z-index: 11;
  padding: 1rem 1.2rem;
  overflow-y: auto;
  &-btn {
    background-color: var(--color-gray-0);
    height: 3rem;
    margin-top: -1rem !important;
  }
  &-close {
    width: 100%;
    text-align: left;

    &-icon {
      display: inline-flex;
      width: var(--element-icon-size-sm);
      height: var(--element-icon-size-sm);
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      background-color: #6d7278;
      color: #f9fafc;
      font-size: var(--element-font-size);
    }
  }
  & > div:not(.fe-loader) {
    min-height: auto;
    height: auto;
    margin-bottom: 3rem;
  }
}
