.fe-audits {
  $class: &;
  overflow: hidden;
  max-height: 100vh;

  .fe-page-header {
    min-height: 8rem;
    margin-bottom: 0;
  }

  &__vertical-dash {
    height: 100%;
    vertical-align: middle;
    background-color: var(--color-gray-3);
    width: 6px;
    margin-right: 1rem;
    border-radius: 0.5rem;
  }

  &__refresh {
    color: var(--color-info);
    cursor: pointer;
    transition: all 0.2s;
    height: 1.5rem !important;
    width: 1.5rem !important;
    margin: -0.5rem 0.5rem;
  }

  &__spin {
    animation: spin 0.8s infinite linear;
    pointer-events: none;
    color: var(--color-disabled);
  }

  #{$class}__stats-container {
    display: flex;
    justify-content: flex-end;

    #{$class}__stat {
      border: 1px solid var(--color-gray-2);
      padding: var(--element-spacing);
      display: inline-flex;
      border-radius: var(--element-border-radius-sm);
      margin-left: 1rem;
      min-width: 14rem;

      #{$class}__stat-value {
        font-size: 1.25rem;
        font-weight: bold;
      }

      #{$class}__stat-name {
        color: var(--color-gray-5);
        font-size: var(--element-font-size-sm);
      }

      #{$class}__stat-icon {
        padding: var(--element-padding);
        border-radius: var(--element-border-radius);
        position: relative;
        margin: auto;

        svg {
          width: var(--element-height-lg);
          vertical-align: middle;
        }

        &__primary {
          background-color: var(--color-green-0);

          svg {
            color: var(--color-green-5);
          }
        }

        &__danger {
          background-color: var(--color-red-0);

          svg {
            color: var(--color-red-5);
          }
        }
      }
    }
  }

  &__header {
    padding: var(--element-padding);

    #{$class}__title-container {
      font-size: 2rem;
      font-weight: 900;
      width: auto;

      #{$class}__last-updated {
        color: var(--color-gray-5);
        font-size: var(--element-font-size);
        display: inline-flex;
      }
    }
  }

  &__subHeader {
    padding: var(--fe-header-padding);

    &-menuIcon {
      fill: var(--color-primary);
    }

    &-top {
      display: flex;
      justify-content: space-between;
      input {
        min-width: 31rem;
      }
    }
    &-filters {
      margin-top: 2rem;
      text-align: left;
    }

    &-tag {
      b {
        margin-right: 0.25rem;
      }
      .MuiChip-label {
        display: flex;
      }
      svg {
        width: 15px;
        height: 15px;
        margin-left: 0.75rem;
        margin-right: 0 !important;
        cursor: pointer;
      }
      margin-right: 0.875rem;
    }
  }

  &__filter {
    min-width: 16rem;
    &-buttons {
      display: flex;
      justify-content: space-between;
    }
    &-title {
      color: #3c4a5a;
      background-color: var(--color-gray-0);
      font-size: 0.75rem;
      font-weight: bold;
      padding: 0.85rem 1rem;
      text-transform: uppercase;
      border-radius: 4px;
      margin: -1rem -1rem 1rem -1rem;
    }
    &-main {
      margin-bottom: 1rem;
      .MuiAutocomplete-clearIndicator {
        display: none;
      }
    }
    &-border {
      border: none;
      border-top: 1px solid #ebedf2;
      margin: 1rem -1rem;
    }
  }

  &__ipCell {
    display: flex;
    &-countryFlag,
    &-ipAddress {
      display: inline-block;
    }
    &-countryFlag {
      color: #3c4a5a;
      min-width: 1.2rem;
      margin-right: 0.5rem;
      display: inline-flex;
      align-items: center;
      .fe-icon {
        width: 1rem;
        height: 1rem;
      }
    }
    &-ipAddress {
      cursor: pointer;
      color: #9699a3;
      text-decoration: underline;
    }
    &-window {
      &-container {
        display: flex;
        min-width: 25rem;
      }
      &-title {
        color: #3c4a5a;
        background-color: var(--color-gray-0);
        font-size: 0.75rem;
        padding: 0.85rem 1rem;
        text-transform: uppercase;
        border-radius: 4px;
        margin-bottom: 1rem;
        font-weight: 500;
      }
      &-map {
        width: 15.75rem;
        height: 10.4375rem;
      }
      &-info {
        padding-left: 1rem;
      }
    }

    &-item {
      &-name {
        font-weight: 500;
        color: #3c4a5a;
        font-size: 0.65rem;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0.4rem;
      }
      &-desc {
        margin-bottom: 1rem;
        font-size: 0.875rem;
        color: #9699a3;
        margin-right: 2rem;
      }
    }

    &-item:last-child {
      .fe-audits__ipCell-item-desc {
        margin-bottom: 0;
      }
    }

    &-mapMark {
      background-color: rgb(156, 0, 39);
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  &__jsonMenu {
    min-width: 16.5rem;

    &-icon {
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      margin-bottom: -5px;
    }

    &-dash {
      height: 100%;
      vertical-align: middle;
      background-color: var(--color-gray-3);
      min-width: 6px;
      margin-right: 1rem;
      border-radius: 0.5rem;
    }

    &-border:not(:last-of-type) {
      border-bottom: solid 1px rgba(112, 112, 112, 0.28);
    }

    &-itemGroup {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem 1rem;
      margin: 0 -1rem;
      padding: 0 1rem;
    }

    &-itemGroup:nth-of-type(1) {
      padding-bottom: 1rem;
      padding-top: 0;
    }

    &-itemGroup:not(:last-of-type) {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    &-itemGroup:last-of-type {
      padding-top: 1rem;
    }

    &-item {
      display: flex;
      height: 100%;
      border-radius: 0.5rem;
      max-width: 12rem;
    }

    &-desc {
      color: rgba(112, 112, 112, 0.5);
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        white-space: normal;
        word-break: break-word;
      }
    }

    &-pagination {
      margin-top: 1rem;
      margin-bottom: -0.5rem;
    }
  }

  &__severity {
    padding: 0.25rem 1rem;
    border-radius: 12px;
    display: flex;
    align-items: center;

    &-dot {
      width: 6px;
      height: 6px;
      display: block;
      border-radius: 50%;
      margin-right: 0.5rem;
      margin-top: -1px;
    }

    &-info {
      color: var(--color-info);
      background-color: var(--background-info);
      span {
        background-color: var(--color-info);
      }
    }

    &-high,
    &-error {
      color: var(--color-danger);
      background-color: var(--color-danger-light);
      span {
        background-color: var(--color-danger);
      }
    }

    &-medium,
    &-attention {
      color: var(--color-warning);
      background-color: var(--background-warning);
      span {
        background-color: var(--color-warning);
      }
    }
  }

  &__expand-content {
    gap: var(--element-height) 0;
    padding: var(--element-height) var(--element-spacing);

    #{$class}__property {
      display: flex;
      gap: 0 var(--element-spacing);
      flex-wrap: nowrap;
      padding: 0 var(--element-spacing);

      #{$class}__property-name {
        color: var(--color-gray-7);
        font-size: var(--element-font-size);
        line-height: 1.24;
        margin-bottom: var(--element-spacing);
      }

      #{$class}__property-value {
        color: var(--color-gray-5);
        font-size: var(--element-font-size);
      }

      #{$class}__severity-text {
        &-info {
          color: var(--color-info);
        }

        &-high,
        &-error {
          color: var(--color-danger);
        }

        &-medium,
        &-attention {
          color: var(--color-warning);
        }
      }

      #{$class}__severity-background {
        &-info {
          background-color: var(--color-info);
        }

        &-high,
        &-error {
          background-color: var(--color-danger);
        }

        &-medium,
        &-attention {
          background-color: var(--color-warning);
        }
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
