.fe-audits {
  $class: &;
  overflow: hidden;
  max-height: 100vh;

  .fe-page-header {
    min-height: 8rem;
    margin-bottom: 0;
  }

  &__vertical-dash {
    height: 100%;
    vertical-align: middle;
    background-color: var(--color-gray-3);
    width: 6px;
    margin-right: 1rem;
    border-radius: 0.5rem;
  }

  &__refresh {
    color: var(--color-info);
    cursor: pointer;
    transition: all 0.2s;
    height: 1.5rem !important;
    width: 1.5rem !important;
    margin: -0.5rem 0.5rem;
  }

  &__spin {
    animation: spin 0.8s infinite linear;
    pointer-events: none;
    color: var(--color-disabled);
  }

  #{$class}__stats-container {
    display: flex;
    justify-content: flex-end;

    #{$class}__stat {
      border: 1px solid var(--color-gray-2);
      padding: var(--element-spacing);
      display: inline-flex;
      border-radius: var(--element-border-radius-sm);
      margin-left: 1rem;
      min-width: 14rem;

      #{$class}__stat-value {
        font-size: 1.25rem;
        font-weight: bold;
      }

      #{$class}__stat-name {
        color: var(--color-gray-5);
        font-size: var(--element-font-size-sm);
      }

      #{$class}__stat-icon {
        padding: var(--element-padding);
        border-radius: var(--element-border-radius);
        position: relative;
        margin: auto;

        svg {
          width: var(--element-height-lg);
          vertical-align: middle;
        }

        &__primary {
          background-color: var(--color-green-0);

          svg {
            color: var(--color-green-5);
          }
        }

        &__danger {
          background-color: var(--color-red-0);

          svg {
            color: var(--color-red-5);
          }
        }
      }
    }
  }

  &__header {
    padding: var(--element-padding);

    #{$class}__title-container {
      font-size: 2rem;
      font-weight: 900;
      width: auto;

      #{$class}__last-updated {
        color: var(--color-gray-5);
        font-size: var(--element-font-size);
        display: inline-flex;
      }
    }
  }

  &__subHeader {
    padding: var(--fe-header-padding);
    &-top {
      display: flex;
      justify-content: space-between;
      input {
        min-width: 31rem;
      }
    }
  }

  &__ipCell {
    &-countryCode,
    &-ipAddress {
      display: inline-block;
    }
    &-countryCode {
      color: #3c4a5a;
      min-width: 1.85rem;
      margin-right: 0.85rem;
    }
    &-ipAddress {
      cursor: pointer;
      color: #9699a3;
      text-decoration: underline;
    }
    &-window {
      &-container {
        display: flex;
        min-width: 25rem;
      }
      &-title {
        color: #3c4a5a;
        background-color: var(--color-gray-0);
        font-size: 12px;
        padding: 0.85rem 1rem;
        text-transform: uppercase;
        border-radius: 4px;
        margin-bottom: 1rem;
      }
      &-map {
        width: 15.75rem;
        height: 10.4375rem;
      }
    }

    &-item {
      &-name {
        font-weight: bold;
        color: #3c4a5a;
        font-size: 0.625rem;
        text-transform: uppercase;
        margin-top: 0;
      }
      &-desc {
        margin-top: 0;
        font-size: 0.875rem;
        color: #9699a3;
        margin-right: 2rem;
      }
    }

    &-mapMark {
      background-color: rgb(156, 0, 39);
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  &__severity {
    padding: 0.25rem 1rem;
    border-radius: 12px;
    display: flex;
    align-items: center;

    &-dot {
      width: 6px;
      height: 6px;
      display: block;
      border-radius: 50%;
      margin-right: 0.5rem;
      margin-top: -1px;
    }

    &-info {
      color: var(--color-info);
      background-color: var(--background-info);
      span {
        background-color: var(--color-info);
      }
    }

    &-high,
    &-error {
      color: var(--color-danger);
      background-color: var(--color-danger-light);
      span {
        background-color: var(--color-danger);
      }
    }

    &-medium,
    &-attention {
      color: var(--color-warning);
      background-color: var(--background-warning);
      span {
        background-color: var(--color-warning);
      }
    }
  }

  &__expand-content {
    gap: var(--element-height) 0;
    padding: var(--element-height) var(--element-spacing);

    #{$class}__property {
      display: flex;
      gap: 0 var(--element-spacing);
      flex-wrap: nowrap;
      padding: 0 var(--element-spacing);

      #{$class}__property-name {
        color: var(--color-gray-7);
        font-size: var(--element-font-size);
        line-height: 1.24;
        margin-bottom: var(--element-spacing);
      }

      #{$class}__property-value {
        color: var(--color-gray-5);
        font-size: var(--element-font-size);
      }

      #{$class}__severity-text {
        &-info {
          color: var(--color-info);
        }

        &-high,
        &-error {
          color: var(--color-danger);
        }

        &-medium,
        &-attention {
          color: var(--color-warning);
        }
      }

      #{$class}__severity-background {
        &-info {
          background-color: var(--color-info);
        }

        &-high,
        &-error {
          background-color: var(--color-danger);
        }

        &-medium,
        &-attention {
          background-color: var(--color-warning);
        }
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
