.fe-integration-checkbox {
  width: 2rem;
  height: 2rem;
  border: solid 2px #d0d3e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  & > input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  &.active {
    border-color: #0baf60;
    background-color: #d9f4e7;
  }

  & > svg {
    width: 2rem;
    height: 2rem;
  }
}
