.fe-connectivity-context,
.fe-connectivity-component {
  .fe-input {
    &__inner {
      border-radius: var(--element-border-radius);
      border-color: var(--color-gray-1);
      background-color: var(--color-gray-1);
    }
  }
  .fe-search {
    .MuiInputBase-root,
    .fe-semantic-input .input,
    .fe-input__inner {
      width: 268px;
      padding-left: 1.5rem;
      position: relative;
      &:before {
        color: var(--color-gray-4);
        position: absolute;
        top: 50%;
        font-size: 1.25rem;
        line-height: 1rem;
        left: 0.5rem;
        margin-top: -0.5rem;
        content: '\260C';
        transform: rotate(100deg);
      }
    }
    .fe-semantic-input .ui.icon.input {
      padding-left: 0;
      input {
        padding-left: 1.5rem;
        padding-right: 0.9rem !important;
        width: calc(100% + 1.5rem);
      }
    }
    .fe-input__inner {
      padding: 0 var(--element-padding) 0 1.5rem;
    }
  }
  .MuiTable-root,
  .fe-table {
    .MuiTableRow-head > th,
    .fe-table__thead-tr-th {
      font-weight: bold;
      text-transform: none;
      &:first-child {
        flex: 0 0 268px !important;
        width: 268px !important;

        + div {
          justify-content: center;
          .fe-table__spacer {
            flex: 0;
          }
        }
      }
    }
    &__tbody {
      overflow-y: hidden;
    }
    .MuiTableRow-root > td,
    &__tr-td {
      &:first-child:not(.fe-table__tr-td-empty) {
        flex: 0 0 268px !important;
        width: 268px !important;
        + div {
          justify-content: center;
        }

        .fe-button {
          background-color: transparent;
          font-weight: bold;
          color: #3c4a5a;
          font-size: 1.125rem;
          &:hover {
            background-color: lighten(#eaeaeb, 6);
          }
          &.fe-connectivity-active .fe-connectivity-platform-icon {
            border: 2px solid #d4d4d5;
          }
        }
      }
    }
    .fe-circle {
      display: inline-block;
      background-color: #f3f5f9;
      border-radius: 50%;
      min-width: 3rem;
      padding: 0 8px;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
    }
  }

  .fe-connectivity-panel-shown {
    display: flex;

    & > .MuiPaper-root,
    .fe-table__container {
      flex: 0 0 149px;
      width: 149px;
      overflow: visible;

      .MuiTable-root,
      .fe-table {
        min-width: 149px !important;
        __thead {
          &-tr-th {
            display: none;
            &:first-child {
              display: flex;
              flex: 0 0 100% !important;
              width: 100% !important;
            }
          }
        }
        &__tr-td {
          display: none;
          &:first-child {
            display: flex;
            flex: 0 0 100% !important;
            width: 100% !important;
          }
        }
      }
    }
    .fe-connectivity-panel {
      .fe-table__container {
        flex: 0 1 100%;
        width: auto;
      }
      .fe-table {
        overflow: visible;
        &__thead {
          &-tr-th {
            display: flex;
            justify-content: flex-start;
            &:first-child {
              flex: 150 0 auto !important;
              width: 150px !important;
              color: var(--fe-table-header-font-color);
            }
          }
        }
        &__tr-td {
          display: flex;
          justify-content: flex-start;
          &:first-child:not(.fe-table__tr-td-empty) {
            flex: 150 0 auto !important;
            width: 150px !important;
          }
        }
        .fe-table__tr-td-empty {
          display: block !important;
          margin-top: 0.5rem;
          margin-bottom: -1rem;
        }
        &__tbody {
          overflow: visible;
        }
      }
    }
  }

  .fe-connectivity-table-accordion {
    .fe-table__tbody {
      display: none;
      margin-bottom: var(--element-padding-lg);
    }

    &.fe-connectivity-open .fe-table__tbody {
      display: block;
    }

    .fe-connectivity-accordion-button {
      padding: 0;
      font-size: inherit;
      font-weight: inherit;
      text-transform: inherit;

      i.icon,
      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
      i.icon {
        font-size: 1.2rem;
      }
    }

    .MuiTableCell-body {
      border-bottom: 0;
    }
  }

  .fe-connectivity__content {
    &-heading {
      border-bottom: 1px solid #edeef0;
      min-height: 5rem;
      display: flex;
      align-items: center;
      margin: -41px 0 0;
      font-size: 1.125rem;
    }
    form {
      .fe-input__inner {
        border: 1px solid rgba(34, 36, 38, 0.15);
        background: var(--color-white);
        padding: 0;
        overflow: hidden;
        border-radius: 8px;
        height: auto;
      }
      input[type='text'] {
        padding: 15px 24px;
        line-height: 2rem;
      }
      textarea {
        resize: none;
        height: 120px;
        padding: 15px 24px;
      }
      .fe-input__label {
        font-size: 14px;
      }
      .fe-input-in-form {
        margin-bottom: 24px;
      }
    }
    .fe-semantic-tabs {
      padding-top: 1rem;
      .ui.menu:last-child {
        margin-bottom: -2px;
      }
    }
  }
  .fe-accordion {
    background: var(--color-white);
    margin-bottom: 16px;
    padding: 8px 24px 8px 8px;

    .fe-checkbox {
      display: block;
      margin: 0 -24px 0 -14px;
      padding: 16px 24px 16px 16px;
      border-bottom: 1px solid #e9eef7;
      .fe-connectivity-webhook-accordion-icon {
        background-color: #e4f9ef;
      }
    }
    .fe-accordion-content {
      margin: 0 -24px 0 -8px;

      div:last-child {
        .fe-checkbox {
          border-bottom: 0;
        }
      }
    }
  }
  .multiple.selection.dropdown .dropdown.icon {
    top: calc(50% - 0.5rem);
    // transform: translateY(-50%);
    // height: auto;
  }
}
