.fe-connectivity {
  &-context {
    padding: 2rem;
    .fe-connectivity-search {
      margin-bottom: 2rem;
    }
  }

  &-component {
    padding: var(--element-padding);
  }

  &-platform.ui.button.fluid,
  &-platform {
    display: flex;
    align-items: center;
    margin: calc(-1 * var(--fe-table-cell-padding));
    height: auto;
    flex-grow: 1;
    align-self: stretch;
    background-color: var(--color-gray-0);
    &.MuiButton-root {
      margin: -1.14rem;
    }

    &.fe-connectivity-active {
      background-color: var(--color-gray-2);
    }

    .fe-button > &-right-arrow {
      padding: 0 !important;
      height: 1.3rem;
      width: 1.3rem;
      min-width: 1.3rem;
    }

    &-icon {
      margin: 1rem 2rem 1rem 0;
      background-color: #f7f8fa;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 4.6rem;
      width: 4.6rem;
      height: 4.6rem;
      border-radius: 50%;
    }

    &-title {
      flex-grow: 1;
      text-align: left;
    }
  }

  &-platform-check {
    fill: #d0d3e0;
    width: 3rem;
    height: 3rem;
    &-active {
      fill: #0baf60;
    }
  }

  &-button {
    text-transform: uppercase;
    width: 8rem;
    font-weight: bold;
    &.fe-button-secondary {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.85);
      border: none;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.fe-slack-auth {
  border-radius: 0.36rem;
  background-color: var(--color-gray-0);
  padding: 1rem;

  &-container {
    border-radius: 0.36rem;
    text-align: center;
    border: 1px solid var(--color-gray-3);
    padding: 4rem 8rem;
  }

  &__txt {
    margin-bottom: 1.3rem;
    color: var(--color-gray-5);
  }

  &__txt-strong {
    font-weight: bold;
    color: var(--color-gray-9);
    margin-bottom: 1.3rem;
  }

  &__btn {
    color: white;
    text-decoration: none;
    background-color: #511557;
    border-radius: 0.29rem;
    display: inline-flex;
    height: 3rem;
    align-items: center;
    font-weight: bold;
    position: relative;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 1rem;
    }

    span {
      margin: 0 2rem 0 1.5rem;
    }

    &:before {
      content: '';
      position: absolute;
      left: 3.5rem;
      display: block;
      width: 0;
      top: 0;
      bottom: 0;
      border-left: solid 1px #804386;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.fe-connectivity-table-input {
  &.fe-input-in-form {
    margin: 0;
  }

  .fe-input__inner {
    border-radius: var(--element-border-radius);
    border-color: var(--color-gray-1);
    background-color: var(--color-gray-1);
  }
}

.fe-connectivity-webhook-settings__frame-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.625rem 0;
}
