.fe-connectivity-panel {
  background-color: var(--color-white);
  padding: 0 1.2rem 1rem;
  flex: 0 1 100%;
  overflow-y: auto;
  z-index: 10;

  &-btn {
    background-color: var(--color-gray-0);
    height: 3rem;
  }

  &-close {
    width: 100%;
    text-align: left;

    &-icon {
      display: inline-flex;
      width: var(--element-icon-size-sm);
      height: var(--element-icon-size-sm);
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      background-color: #6d7278;
      color: #f9fafc;
      font-size: var(--element-font-size);
    }
  }

  & > div:not(.fe-loader) {
    min-height: auto;
    height: auto;
    margin-bottom: 3rem;
  }

  .fe-table__container {
    width: auto;
    flex: 0 1 100%;
  }

  .fe-select {
    div[class$='-control'] {
      background-color: var(--color-gray-1);
      border-color: var(--color-gray-1);
    }

    div[class$='-multiValue'] {
      height: 2rem;
      line-height: 2;
      border-radius: 0.5rem;
      background-color: #345391;
      color: var(--color-white);

      div {
        border-radius: 0.5rem;
        color: var(--color-white);
        background-color: #345391 !important;
      }
    }

    .fe-inputChip {
      width: 100%;
    }
  }

  .fe-connectivity-webhook-settings {
    &__frame {
      background-color: var(--color-gray-1);
      padding: 2.5rem;
      margin: 2.4rem 0 0;

      h3 {
        margin-bottom: 32px;
      }
      .fe-select {
        margin-bottom: 48px !important;
      }
      .fe-select div[class$='-multiValue'] {
        background-color: #cfe9ff;
        font-size: 12px;
        padding: 8px 16px;
        max-width: 90%;
        color: #345391;
        height: auto;
      }
      .fe-select div[class$='-multiValue'] div {
        color: #345391;
        padding: 0;
        background-color: transparent !important;
      }
    }

    .fe-select {
      margin-bottom: 1rem;
      div[class$='-control'] {
        background-color: var(--color-white);
        border-color: var(--color-white);
      }
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 24px;
      font-size: 18px;
      font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-weight: normal;
      padding-bottom: 1rem;
    }

    h3 {
      font-weight: normal;
      margin: 0 0 1rem;
    }

    .fe-button {
      padding: var(--size-padding);
      height: var(--size-height);
      font-size: var(--size-font-size);
      --size-padding: 0 var(--element-padding-lg);
      --size-height: var(--element-height-lg);
      --size-font-size: var(--element-font-size-lg);
      --size-border-radius: var(--element-border-radius-sm);
    }
  }

  .fe-input-in-form {
    margin: 0;
  }

  &-menu {
    &-button {
      padding: 0;
      svg {
        color: var(--color-gray-5);
        width: 1.7rem;
        height: 1.7rem;
      }
      &.ui.button {
        background-color: transparent;
      }
    }
    .fe-menu-item {
      color: var(--color-gray-6);
      width: 10rem;
      font-size: 0.9rem;
      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    &.fe-menu__popup {
      z-index: 10;
      .fe-menu-item__icon {
        font-size: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
