.fe-connectivity-webhook {
  &-list {
    position: relative;
  }

  &-add,
  &-add.MuiButtonBase-root {
    position: absolute;
    right: var(--element-spacing);
    top: var(--element-spacing);
  }

  &-event {
    margin-right: var(--element-spacing);
    position: relative;
    &::after {
      content: ' ,';
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
    }
    &:nth-last-child(1) {
      margin-right: 0;
      &::after {
        content: none;
      }
    }
  }

  &-cell {
    justify-self: stretch;
    flex-grow: 1;

    &-link {
      cursor: pointer;
    }
  }

  &-test-payload {
    min-height: 10rem;
    max-height: 45rem;
    overflow: auto;
  }

  &-settings {
    padding: var(--element-padding);
    .fe-semantic-input {
      margin-bottom: 24px;
      label {
        font-size: 1rem !important;
        margin-bottom: 7px;
      }
      .input input {
        height: 46px;
      }
    }
  }

  &-check {
    margin-bottom: var(--element-padding);
    &.fe-check-item {
      padding-left: var(--element-padding);
    }

    .fe-checkbox__input {
      width: 1.5rem;
      height: 1.5rem;
    }

    input:checked + .fe-checkbox__input .fe-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &-according {
    &-events-name {
      flex-grow: 1;
    }
  }

  &-option {
    &-category {
      background-color: var(--color-gray-1);
    }
  }

  &-dialog {
    &-success .fe-dialog-content {
      border-left: solid 1rem var(--color-success);
    }

    &-failed .fe-dialog-content {
      border-left: solid 1rem var(--color-danger);
    }

    &-message {
      width: 35rem;
      max-width: 35rem;
    }

    &-more {
      .fe-dialog-header {
        height: auto;
        .fe-dialog-title {
          width: 95%;
          padding: var(--element-padding-lg);
        }
      }
      .fe-dialog-body {
        background-color: var(--color-gray-1);
      }
      &-date {
        padding-left: var(--element-padding);
        color: var(--color-gray-5);
        font-weight: normal;
      }
    }

    &-action {
      border-top: solid 1px var(--element-divider-color);
      margin: 0 -2rem -2rem;
      padding: 1rem 2rem 2rem;
    }
  }

  &-status {
    border-radius: 2rem;
    position: relative;
    padding: 0.5rem 2rem;
    background-color: var(--color-success-25);
    color: var(--color-success);
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      top: 50%;
      left: 1rem;
      background-color: var(--color-success);
      border-radius: 50%;
      transform: translateY(-50%);
    }

    &.fe-status-failed {
      background-color: var(--color-danger-25);
      color: var(--color-danger);
      &:before {
        background-color: var(--color-danger);
      }
    }
  }

  &-detail {
    text-decoration: underline;
  }

  &-accordion {
    box-shadow: none;
    &-icon.icon,
    &-icon {
      color: var(--color-primary-darker);
      margin-right: var(--element-spacing);
      border-radius: var(--element-border-radius-sm);
      border: 1px solid var(--color-primary-light);

      .Mui-expanded &,
      .fe-accordion-header-expanded &,
      .title.active &.icon {
        background-color: var(--color-primary-lighter);
        border-color: var(--color-primary-lighter);
        transform: rotate(90deg);
      }
    }
    .MuiAccordionDetails-root {
      flex-direction: column;
    }
    &-icon.icon {
      width: 2.3rem;
      height: 2.3rem;
      font-size: 2rem;
    }

    .ui.checkbox {
      label {
        line-height: 1.7rem;
        padding-left: 2.3rem;
        position: relative;
        &:before,
        &:after {
          line-height: 1.7rem;
          width: 1.7rem;
          height: 1.7rem;
          color: white;
        }
      }
    }
    input[type='checkbox']:checked ~ label {
      &:before {
        background-color: #0baf60;
        border-color: #0baf60;
      }
    }
  }

  &-description {
    color: var(--color-gray-5);
    font-weight: normal;
  }

  &-help {
    color: var(--color-white);
    background-color: var(--color-black);
    display: inline-flex;
    margin-left: var(--element-spacing);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    cursor: pointer;

    &-block {
      width: 16rem;
    }
  }
}

.fe-connectivity-webhook-settings {
  &__frame {
    &-title {
      font-weight: 600;
      font-size: 1.5rem;
      margin: 0.625rem 0;
    }
    background-color: var(--color-gray-1);
    padding: 2.5rem;
    margin: 2rem 0 0;
  }
}
