.fe-loader {
  position: relative;
  width: var(--element-height);
  height: var(--element-height);
  display: inline-flex;

  .fe-inner-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--color-black-20);
    border-bottom: 2px solid;
    animation: spin 0.4s infinite linear;
    left: 0;
    top: 0;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
