.fe-switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.4375rem;
  border-radius: 16px;
  border: solid 1px var(--element-border-color);
}

.fe-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.fe-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background-color: var(--color-gray-1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fe-slider:before {
  position: absolute;
  content: '';
  height: 1.4375rem;
  width: 1.4375rem;
  border-radius: 50%;
  border: solid 1px var(--element-border-color);
  left: -1px;
  bottom: -1px;
  background-color: white;
  box-shadow: 0 0 2px -1 rgba(61, 70, 107, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .fe-slider {
  background-color: var(--color-primary);
}

input:focus + .fe-slider {
  box-shadow: 0 0 1px var(--color-primary);
}

input:checked + .fe-slider:before {
  transform: translateX(1.625rem);
}

.fe-switch-toggle {
  &__with_labels {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--color-text-disabled);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__label {
    margin: 0 1rem;
    transition: color 0.3s ease-in;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: var(--color-text);
    }
  }

  &__active-left .fe-switch-toggle__label:first-child,
  &__active-right .fe-switch-toggle__label:last-child {
    color: var(--color-text);
    font-weight: bold;
  }

  &__disabled {
    label {
      box-shadow: none;
      opacity: 0.5 !important;
    }
  }

  &__loading {
    cursor: progress !important;

    * {
      cursor: progress !important;
    }

    .fe-slider:before,
    input:checked + .fe-slider:before {
      transform: translateX(0.8125rem);
    }

    label {
      box-shadow: none;
      opacity: 0.5 !important;
    }
  }
}
