name: Push Workflow
on:
  # When after commit pushed to branches not master nad release/next
  push:
    branches-ignore:
      - 'master'
      - 'release/next'
env:
  CI: true
jobs:
  init:
    name: 'Install, Build and Test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvm
      - name: Use Node.js (.nvmrc)
        uses: actions/setup-node@v1
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"
      - run: make clean
      - run: make install
      - run: make build
  sanity:
    name: 'Sanity check'
    runs-on: ubuntu-latest
    steps:
      - uses : actions/checkout@v2
      - name : Read .nvmrc
        run : echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id : nvm
      - name : Use Node.js (.nvmrc)
        uses : actions/setup-node@v1
        with :
          node-version : "${{ steps.nvm.outputs.NVMRC }}"
      - run : cd packages/sanity-check && yarn run build && yarn run test
